@model COEADGroupManager.Models.ManagersGroupListViewModel

@{
    
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row">

    <div class="col-md-11 col-lg-8">


        @if(String.IsNullOrEmpty(Model.glStatus))
        {
            <h4 class="coeh4">Managers for @Model.agmGroup.ADGrpName</h4>
            <br />

           
            <input type="hidden" id="hdnGrpID" value="@Model.agmGroup.AGMGID.ToString()" />
            <input type="hidden" id="hdnGrpName" value="@Model.agmGroup.ADGrpName" />


            if (Model.agmGroup.AGMManagers != null && Model.agmGroup.AGMManagers.Count() > 0)
            {

                <table id="tblGroupList" class="table table-striped table-bordered">

                    <thead>
                        <tr>
                            <th class="text-center"><strong>User ID</strong></th>
                            <th class="text-center"><strong>Display Name</strong></th>
                            <th class="text-center"><strong>Email Address</strong></th>
                            <th class="text-center"><strong>Action</strong></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach(var grpMgr in Model.agmGroup.AGMManagers)
                        {
                            <tr>
                                <td class="text-center">@grpMgr.KerbID</td>
                                <td class="text-center">@grpMgr.DisplayName</td>
                                <td class="text-center">@grpMgr.EmailAddress</td>
                                <td class="text-center">
                                    <a class="coemgremovemgr">Remove Manager</a>
                                    <input type="hidden" class="coemgrmvmgrid" value="@grpMgr.KerbID" />
                                    <input type="hidden" class="coemgrmvmgrname" value="@grpMgr.DisplayName" />
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            
                
            }
            else
            {
                <p>There are no managers configured for this group.</p>
                <br />
            }

            <button type="button" id="btnAddManager" class="btn btn-default coeInputs">Add Manager</button>
            <span>&nbsp;</span>
            @Html.ActionLink("Back to Group Listing", "Index", "Home", null, new { @class = "btn btn-default" })
            
            
            
            
            @Html.Action("AddManager")
            
            @Html.Action("RemoveGroup")

        }
        else
        {
            <br /><br />
            <p>@Model.glStatus</p>
        }
            
    </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {

        //Check to See If Table Exists
        if ($('#tblGroupList').length > 0) {

            //If So Format as dataTable
            $('#tblGroupList').dataTable({

                "columns": [
                               { "type": "string" },
                               { "type": "string" },
                               { "type": "string" },
                               { "width": "20%", "orderable": false }
                               
                ],

                "order": [[1, 'asc']]
            });

            //View Remove User Modal Load Event
            $('#tblGroupList tbody').on("click", "a.coemgremovemgr", function (event) {

                //Vars for Input Values
                var vrmmgrid = $(this).parents('td').children('.coemgrmvmgrid').val();
                var vrmmgrname = $(this).parents('td').children('.coemgrmvmgrname').val();
                var vrmgrpid = $('#hdnGrpID').val();
                var vrmgrpname = $('#hdnGrpName').val();
                //Set Display and Input Vars
                $('#spnrmmgrname').html(vrmmgrname + ' (' + vrmmgrid + ')');
                $('#spnrmgrpname').html(vrmgrpname);
                $('#rmvMgrID').val(vrmmgrid);
                $('#rmvGrpID').val(vrmgrpid);

                //Clear Error Message
                $('#dvremovemgr').html('');

                $('#mdlRemoveManager').modal('show');

                return false;
            });
        }

        //Check to See If Group Information Returned
        if ($('#hdnGrpID').length > 0) {

            //Add Manager Modal Load Event
            $('#btnAddManager').on("click", function () {
                
                //Vars for Input Values
                var vaddgrpid = $('#hdnGrpID').val();
                var vaddgrpname = $('#hdnGrpName').val();
                //Set Display and Input Vars
                $('#spnaddgrpname').html(vaddgrpname);
                $('#addGrpID').val(vaddgrpid);
                //Clear Error Message
                $('#dvaddmanager').html('');
                $('#mdlAddManager').modal('show');
                return false;
            });

        }


    });

</script>